<!DOCTYPE html>
<html lang="en" ng-app="feedbackApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>POP-Cart Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59574467-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body ng-controller="feedbackCtrl">

    <div id="wrapper">

          <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.php">POP-Cart Admin</a>
      </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
               
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" ng-click="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
          <li>
            <a href="home.php"><i class="fa fa-fw fa-dashboard"></i> Home</a>
          </li>
          <li>
            <a href="products.html"><i class="fa fa-fw fa-shopping-cart"></i> Products</a>
          </li>
          <li>
            <a href="widget.html"><i class="fa fa-fw fa-gears"></i>Widget Management</a>
          </li>
		  	<li>
            <a href="feedback.html"><i class="fa fa-fw fa-thumbs-up"></i>Feedback</a>
          </li>
		  <li>
            <a href="pricing.html"><i class="fa fa-fw fa-money"></i>Pricing</a>
          </li>
        </ul>
      </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Feedback
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
					<div class="row">
					<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
						
							  <div class="alert alert-success" >
									The Singapore Government has launched a scheme where they will pay students and recent graduates to work for local SaaS companies for 1 year. In addition to the government-funded subsidy, we are authorized to pay you an incentive bonus based on your ability to facilitate the growth of our SaaS business. Our company's bonus plan will award you the full amount of all recurring revenue that you personally help to facilitate. We will continue to award you all recurring revenue for 1 year after you leave the company. Please watch our short onboarding video to get an understanding of our service. <br/>
									
									Also, please visit awesome applications from: <br/>
									<ul>
									<li><a href="https://errandrunner.herokuapp.com/feedback.html">Team 18</a></li>
									<li><a href="http://goffeeappfeedback.herokuapp.com/">Team 20</a></li> 
									</ul>
									
							  </div>
							
						</div>
					</div>
					<form class="form-horizontal">
					<div class="row">
					
					
					
					<div class="col-lg-12">
					
				 <div class="form-group">
					
					<div class="col-sm-4">
					<b>Full Name</b><br/>
					  <input type="text" class="form-control" id="fname" >
					</div>
				  </div>

				  <div class="form-group">
					<div class="col-sm-4">
					<b>SMU-Email</b><br/>
					  <input type="text" class="form-control" id="email" >
					</div>
				  </div>
				  
				  <div class="form-group">
					<div class="col-sm-4">
					<b>Did you manage to see your cart on a HTML page?</b><br/>
					  <select id="deployed">
						<option value="Y">Yes</option>
						<option value="N">No</option>
					  </select>
					</div>
				  </div>
				  
					<b>What we should start doing</b>
					<textarea id="startFb" class="form-control" rows="2"></textarea><br/>
					<b>What we should stop doing</b>
					<textarea id="stopFb" class="form-control" rows="2"></textarea><br/>
					<b>What we should continue doing</b>
					<textarea id="continueFb" class="form-control" rows="2"></textarea><br/>
					</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
								<b>Comments on Home page</b>
								<textarea id="homeFb" class="form-control" rows="3"></textarea>
								</div>
								<div class="col-lg-4">
								<b>Comments on Product Management</b>
								<textarea id="productFb" class="form-control" rows="3"></textarea>
								</div>
								<div class="col-lg-4">
								<b>Comments on Widget Management</b>
								<textarea id="widgetFb" class="form-control" rows="3"></textarea>
								</div>
						</div><br/>
						<div class="row">
						<div class="col-lg-12">
						<button class="btn btn-success" ng-click="addFeedback()">Submit Feedback</button>
						</div>
						</div>
						</form>
						</div>
					</div><br/>
					
					<div class="row">
					<div class="col-lg-12">
						<table class="table table-bordered">
						  <tr><th>User</th><th>Deployed?</th><th>Start</th><th>Stop</th><th>Continue</th><th>Home Page</th><th>Product Management</th><th>Widget Management</th></tr>
						  <tr ng-repeat="fb in feedbackList" >
						  <td>{{fb.user}}</td>
						  <td>{{fb.deployed}}</td>
						  <td>{{fb.startFb}}</td>
						  <td>{{fb.stopFb}}</td>
						  <td>{{fb.continueFb}}</td>
						  <td>{{fb.homeFb}}</td>
						  <td>{{fb.productFb}}</td>
						  <td>{{fb.widgetFb}}</td>
						  </tr>
						</table>
						</div>
					</div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
	<script src="js/lib/angular.min.js"></script>
  <script src='js/lib/firebase.js'></script>
  <script src='js/lib/angularfire.min.js'></script>
  
  <script>
      function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}

function deleteCookie(){
	document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
}
	var fbApp=angular.module('feedbackApp',['firebase']);
	fbApp.controller('feedbackCtrl',['$scope','$firebase',function($scope,$firebase){
		var ref=new Firebase("https://popcart.firebaseio.com/feedback");
		$scope.feedbackList=$firebase(ref).$asArray();
		
		
	if(getCookie("username")==""){
			window.location.replace("index.php");
		}
		
		$scope.addFeedback=function(){
			var user=getCookie('username');
			//get feedback values
			//construct json object
			var item={user:user,fname:$("#fname").val(),deployed:$( "#deployed option:selected").text(),email:$("#email").val(),startFb:$("#startFb").val(),stopFb:$("#stopFb").val(),continueFb:$("#continueFb").val(),homeFb:$("#homeFb").val(),productFb:$("#productFb").val(),widgetFb:$("#widgetFb").val()};
			$scope.feedbackList.$add(item);
			alert("Thanks for your feedback");
		}
		
		$scope.logout=function(){
			deleteCookie();
			window.location.replace("index.php");
		}
		
	}])
  </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
